name: Elixir CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    name: Build and test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-elixir@v1
      with:
        otp-version: 22.2.3
        elixir-version: 1.10.3

    - name: Install Dependencies
      run: mix deps.get

    - name: Build
      run: mix compile

    - name: Run lint
      run: mix credo

    - name: Run Tests
      run: mix test
      env:
        DB_HOST: localhost
